/*!
  * Item: CryptoView
  * Description: Personal Binance Portfolio Website
  * Author/Developer: David Pinhas
  * Version: v1
  */
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    width: 120px;
    text-decoration: none;
    font-family: raleway;
    font-weight: bold;    
    color: black;
    text-align: center;
    transition: all 0.2s;
}

.button1:hover {
    color: #ffffff;
    background-color: #242424;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.checkbox {
    padding: 2em;
}

.checkbox-item {
    margin-bottom: 2em;
}

.toggle-rect-color input[type="checkbox"] {
    display: none;
}

.toggle-rect-color input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    background: #e84d4d;
    border-radius: 0.2em;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toggle-rect-color input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.2em;
    background: #50565a;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-rect-color input[type="checkbox"]:checked+label {
    background: #47cf73;
}

.toggle-rect-color input[type="checkbox"]:checked+label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}

.rsi-color {
    color: white;
    font-family: poppins;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ff0000;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #0f0808;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(186, 49, 49);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #e7e7e7;
}

.styled-table-title {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.3em;
    font-family: raleway;
    font-weight: bold;
    min-width: 100px;
    text-align: left;
    background-color: whitesmoke;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table-title th,
.styled-table-title td {
    padding: 12px 15px;
}

.styled-table-title tbody tr {
    border-bottom: 1px solid #ff0000;
}

.styled-table-title tbody tr:nth-of-type(even) {
    background-color: #0f0808;
}

.styled-table-title tbody tr:last-of-type {
    border-bottom: 2px solid rgb(186, 49, 49);
}

.styled-table-title tbody tr.active-row {
    font-weight: bold;
    color: #e7e7e7;
}

::-webkit-scrollbar {
    width: 4px;
    color: #c70039;
    transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
    background: #c70039;
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
}

::-webkit-scrollbar-track {
    background: #101010;
    border-radius: 4px;
    width: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

html {
    background: #101010;

}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 100;
    font-family: poppins;
    background-color: #202020;
    color: whitesmoke;
    font-size: 70px;
    width: 100%;
}

body {
    user-select: none;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background: #171717;
}

.float-container {
    border: 10px;
    padding: 3px;
    grid-auto-flow: row;
}

.float-child {
    float: left;
    padding: 1px;
    border: 5px;
    padding-left: 100px;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    height: 207%;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
}

#navigation-content {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: #020202;
    transform: translateY(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navigation-bar {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    padding: 10px;
    background: transparent;
    overflow: hidden;
}

.menubar {
    position: absolute;
    right: 4%;
    top: 40%;
    cursor: pointer;
    opacity: .8;
    transition: all .4s ease;
}

.menubar span {
    position: relative;
    background-color: transparent;
    height: 2px;
    width: 20px;
    display: block;
    margin: 6px;
    border-radius: 20px;
}

.menubar .first-span {
    width: 35px;
}

.menubar .first-span::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    transition: all .5s ease;

}

.menubar .second-span {
    width: 35px;
}

.menubar .second-span::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    transition: all .3s ease;
}

.menubar .third-span {
    width: 35px;
}

.menubar .third-span::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    transition: all .3s ease;
}

.menubar:hover .second-span::before,
.menubar:hover .first-span::before {
    width: 100%;
}

.menubar:hover {
    opacity: 1;
}

.close-first,
.close-second {
    height: 2px;
    width: 35px;
    background-color: whitesmoke;
    display: block;
    margin: 4px;
    cursor: pointer;
    padding: 1px;
    border-radius: 20px;
}

.close-first {
    transform: rotate(45deg);
}

.close-second {
    transform: rotate(-45deg);
}

.navigation-close {
    position: absolute;
    top: 6%;
    right: 4%;
    padding: 10px;
    cursor: pointer;
    transition: all.3s ease;
    opacity: .8;
}

.navigation-close:hover {
    opacity: 1;
    transform: rotate(90deg);
}

.logo img {
    height: 80px;
    position: absolute;
    top: 3%;
    left: 2.5%;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
    transition: all .4s ease;
}

.logo img:hover {
    opacity: 1;
    transform: rotate(-45deg);
}

#navigation-bar img {
    height: 80px;
    position: absolute;
    ;
    top: 15%;
    left: 2.5%;
    opacity: .8;
    transition: all .4s ease;
}

#navigation-bar img:hover {
    opacity: 1;
    transform: rotate(-45deg);
}

.header-content {
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: raleway;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 50px;
    z-index: 1;
}

.header-content-box {
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 60px;
    width: auto;

}

.header-content .firstline {
    z-index: 2;
    font-weight: 700;
    font-family: poppins;
    font-size: 65px;
}

.header-content .secondline {
    z-index: 2;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255, .8);
}

.slash {
    animation-name: animateslash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes animateslash {
    0% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

@-webkit-keyframes animateslash {
    0% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

.navigation-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: poppins;
}

.navigation-links a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    opacity: .7;
    transition: all .4s ease;
}

.navigation-links a:hover {
    opacity: 1;
}

.navigation-links a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    align-items: center;
    font-size: 5em;
    font-weight: 400;
    font-family: monoton;
    color: rgb(255, 255, 255, .1);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 100px;
    transition: all .4s ease;
}

.navigation-links a:hover::before {
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}

.color {
    color: #c70039;
    transition: all .4s ease;
}

@keyframes scale {
    0% {
        transform: scale(.6);
    }

    100% {
        transform: scale(1);
    }
}

.html {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 30%;
}

button:hover .index {
    position: relative;
    z-index: 4;
}

.portfolio-text button:hover::before {
    opacity: 1;
    width: 120%;
}

.button {
    text-align: center;
}

.cursor {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: transparent;
    pointer-events: none;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 10;
    opacity: .6;
    transition: scale .5s ease;
}

form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    position: relative;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 15px;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.form-inline button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

form button {
    padding: 8px 24px;
    font-family: poppins;
    font-size: 20px;
    color: whitesmoke;
    background: #BB0035;
    opacity: .8;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all .4s ease;
}

form button:hover {
    opacity: 1;
}

.icon {
    height: 40px;
    opacity: .8;
}

.color-changer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: -150px;
    top: 40%;
    z-index: 4;
    color: black;
    transition: all .4s ease;
}

.color-changer-active {
    right: 0px;
    transition: all .4s ease;
}

.colors ul {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 150px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.colors li {
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 20%;
    position: relative;
    overflow: hidden;
}

.colors li a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.color-red {
    background: #c70039;
}

.color-purple {
    background: #481380;
}

.color-green {
    background: #04A777;
}

.color-blue {
    background: #035aa6;
}

.color-malt {
    background: #00909e;
}

.color-orange {
    background: #dd7631;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* For devices with smaller width like mobile phone */

@media only screen and (max-width: 550px) {
    .header-content {
        height: 100vh;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: whitesmoke;
        font-family: raleway;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 40px;
    }

    .header-content-box {
        z-index: 2;
        text-align: center;
        height: auto;
        padding-right: 0px;
        width: auto;

    }

    .cursor {
        display: none;
    }

    #navigation-bar img {
        height: 80px;
        position: absolute;
        top: 15%;
        left: 2.5%;
        opacity: .8;
        transition: all .4s ease;
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: center;
        position: relative;
    }

    form button {
        padding: 8px 24px;
        font-family: poppins;
        font-size: 20px;
        color: whitesmoke;
        opacity: .8;
        margin: 20px;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        transition: all .4s ease;
    }

    form button:hover {
        opacity: 1;
    }
}

/* for tabs and large phones */

@media all and (max-width: 1025px) and (min-width: 551px) {
    .header-content {
        height: 100vh;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: whitesmoke;
        font-family: raleway;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 40px;
    }

    .header-content-box {
        z-index: 2;
        text-align: center;
        height: auto;
        padding-right: 0px;
        width: auto;

    }

    .cursor {
        display: none;
    }

    #navigation-bar img {
        height: 80px;
        position: absolute;
        top: 15%;
        left: 2.5%;
        opacity: .8;
        transition: all .4s ease;
    }

    form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: center;
        position: relative;
    }

    form button {
        padding: 8px 24px;
        font-family: poppins;
        font-size: 20px;
        color: whitesmoke;
        opacity: .8;
        margin: 20px;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        transition: all .4s ease;
    }

    form button:hover {
        opacity: 1;
    }
}

@media all and (max-width: 9000px) and (min-width: 1441px) {

    form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: center;
        position: relative;
    }

    form button {
        padding: 8px 24px;
        font-family: poppins;
        font-size: 20px;
        color: whitesmoke;
        opacity: .8;
        margin: 20px;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        transition: all .4s ease;
    }
}